<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/head :: head">
    </head>

    <body>
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main>
            <section class="mt-5">
                <th:block  th:if="${vehiculo != null}">
                    <div class="container-table">
                        <div class="table-title">
                            <div class="col-md-11" style="display: flex">
                                <h4 class="w-50">Historial [[${vehiculo.patente}]]</h4>
                                <div class="input-group px-3 w-50 " style="align-items: center;">
                                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
                                           aria-describedby="search-addon" id="buscador"/>
                                    <button type="button" id="buscar" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-header">Numero de Orden</div>
                        <div class="table-header">Proveedor</div>
                        <div class="table-header"></div>
                        <div class="table-header">Descripcion</div>
                        <div class="table-header"></div>
                        <div class="table-header">Fecha</div>
                        <div class="table-header"></div>
                        <div class="table-header">Facturado</div>
                        <th:block th:each="order : ${ordenes}">
                            <div th:attr="class='table-item ', onclick='toggle('+${order.numeroOrden}+')'"  style="justify-content: left;">[[${order.numeroOrden}]]</div>
                            <div th:attr="class='table-item ', onclick='toggle('+${order.numeroOrden}+')'" >[[${order.proveedor}]] </div>
                            <div th:attr="class='table-item repuestos-descripcion ', onclick='toggle('+${order.numeroOrden}+')'">[[${order.descripcion}]]</div>
                            <div th:attr="class='table-item ', onclick='toggle('+${order.numeroOrden}+')'" >[[${order.fecha}]]</div>
                            <div th:attr="class='table-item ', onclick='toggle('+${order.numeroOrden}+')'" ></div>
                            <div th:attr="class='table-item ', onclick='toggle('+${order.numeroOrden}+')'" >[[${order.facturado}]]</div>
                            <!-- detalle -->
                            <div th:attr="class='detail-header '+ ${order.numeroOrden}" style="display:none;"></div>
                            <div th:attr="class='detail-header '+ ${order.numeroOrden}" style="display:none;">Producto</div>
                            <div th:attr="class='detail-header repuestos-descripcion ' + ${order.numeroOrden}" style="display:none;">Descripcion</div>
                            <div th:attr="class='detail-header '+ ${order.numeroOrden}" style="display:none;">Cantidad</div>
                            <div th:attr="class='detail-header '+ ${order.numeroOrden}" style="display:none;">Precio</div>
                            <div th:attr="class='detail-header '+ ${order.numeroOrden}" style="display:none;"></div>
                            <th:block th:each="orderDetail: ${order.ordenDetail}" style="display:none;">
                                <div th:attr="class='detail '+${order.numeroOrden}" style="display:none;"></div>
                                <div th:attr="class='detail '+${order.numeroOrden}" style="display:none;">[[${orderDetail.producto}]]</div>
                                <div th:attr="class='detail repuestos-descripcion '+${order.numeroOrden}" style="display:none;">[[${orderDetail.Descripcion}]]</div>
                                <div th:attr="class='detail '+${order.numeroOrden}" style="display:none;">[[${orderDetail.cantidad}]]</div>
                                <div th:attr="class='detail '+${order.numeroOrden}" style="display:none;">[[${orderDetail.precio}]]</div>
                                <div th:attr="class='detail '+${order.numeroOrden}" style="display:none;"></div>
                            </th:block>
                        </th:block>
                    </div>
                </th:block>
            </section>
        </main>
        <footer>
            <div th:replace="fragments/footer :: footer"></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script type="module" src="/historial.js"></script>
        <script src="/historial2.js"></script>
    </body>

</html>