<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head">
    </head>

    <body>
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main>
            <section>
                <th:block  th:if="${maquinaRepuestos != null and !maquinaRepuestos.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <div class="col-md-11" style="display: flex">
                                <h4 class="w-50">[[${vehiculo.patente}]]</h4>
                                <div class="input-group px-3 w-50 " style="align-items: center;">
                                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
                                           aria-describedby="search-addon" id="buscador"/>
                                    <button type="button" id="buscar" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                            <a class="btn btn-primary" th:href="@{/maquinaRepuesto/agregar/maquina/}+${vehiculo.idMaquina}">Agregar</a>
                        </div>
                        <div class="table-header">ID Repuesto Maquina</div>
                        <div class="table-header">Repuesto</div>
                        <div class="table-header">Descripcion particular del repuesto</div>
                        <div class="table-header">Marca</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <th:block th:each="maquinaRepuesto : ${maquinaRepuestos}">
                            <div class="table-item">[[${maquinaRepuesto.idMaquinaRepuesto}]]</div>
                            <div class="table-item">[[${maquinaRepuesto.repuesto.descripcion}]]</div>
                            <div class="table-item">[[${maquinaRepuesto.descripcion}]]</div>
                            <div class="table-item">[[${maquinaRepuesto.marca}]]</div>
                            <div class="table-item"></div>
                            <div class="table-item"></div>
                            <div class="table-item"><a  th:href="@{/maquinaRepuesto/editar/} + ${maquinaRepuesto.idMaquinaRepuesto}"
                                                        class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a></div>
                            <div class="table-item"><a th:href="@{/maquinaRepuesto/eliminar(idMaquinaRepuesto=${maquinaRepuesto.idMaquinaRepuesto})}"
                                                       class="btn btn-dark">
                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                </a></div>
                        </th:block>
                    </div>
                </th:block>
                <th:block class="text-center p-2" th:if="${maquinaRepuestos == null or maquinaRepuestos.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <h4 class="col-md-11" style="display: inline-block">[[${vehiculo.patente}]]</h4>
                            <a class="btn btn-primary" th:href="@{/maquinaRepuesto/agregar/maquina/}+${vehiculo.idMaquina}">Agregar</a>
                        </div>
                        <div class="table-header">ID Repuesto Maquina</div>
                        <div class="table-header">Repuesto</div>
                        <div class="table-header">Descripcion particular del repuesto</div>
                        <div class="table-header">Marca</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                    </div>
                    <span>la lista esta vacía</span>
                </th:block>
            </section>
        </main>
        <footer>
            <div th:replace="fragments/footer :: footer"></div>
        </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script type="module" th:src="@{/homeMaquinaRepuesto.js}"></script>
    </body>

</html>