<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head">
    </head>

    <body>
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main>
            <section>
                <th:block  th:if="${repuestos != null and !repuestos.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <div class="col-md-11" style="display: inline-block"><center><h4>Lista de Repuestos</h4></center></div>
                            <a class="btn btn-primary" th:href="@{/repuesto/agregar}">Agregar</a>
                        </div>
                        <div class="table-header">ID Repuesto</div>
                        <div class="table-header">DESCRIPCIÓN</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <th:block th:each="repuesto : ${repuestos}">
                            <div class="table-item">[[${repuesto.idRepuesto}]]</div>
                            <div class="table-item">[[${repuesto.descripcion}]]</div>
                            <div class="table-item">

                            </div>
                            <div class="table-item">

                            </div>
                            <div class="table-item"></div>
                            <div class="table-item"><a  th:href="@{/repuesto/editar/} + ${repuesto.idRepuesto}"
                                                        class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a></div>
                            <div class="table-item"><a th:href="@{/repuesto/eliminar(idRepuesto=${repuesto.idRepuesto})}"
                                                       class="btn btn-dark">
                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                </a></div>
                        </th:block>
                    </div>
                </th:block>
                <th:block class="text-center p-2" th:if="${repuestos == null or repuestos.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <h4 class="col-md-11" style="display: inline-block">Lista de maquinas</h4>
                            <a class="btn btn-primary" th:href="@{/repuesto/agregar}">Agregar</a>
                        </div>
                        <div class="table-header">ID Repuesto</div>
                        <div class="table-header">DESCRIPCIÓN</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                    </div>
                    <span>la lista esta vacía</span>
                </th:block>
            </section>
        </main>
        <footer>
            <div th:replace="fragments/footer :: footer">
        </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>

</html>