<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head">
    </head>

    <body>
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main>
            <section class="mt-5">
                <th:block  th:if="${maquinas != null and !maquinas.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <div class="col-md-11" style="display: inline-block">
                                <center>
                                    <h4>Lista de maquinas</h4>
                                </center>
                                <div class="input-group">
                                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
                                           aria-describedby="search-addon" id="buscador"/>
                                    <button type="button" id="buscar" class="btn btn-outline-primary">Buscar</button>
                                </div>
                            </div>
                            <a class="btn btn-primary" th:href="@{/maquina/agregar}">Agregar</a>
                        </div>
                        <div class="table-header">PATENTE</div>
                        <div class="table-header">DESCRIPCIÓN</div>
                        <div class="table-header">Nº DE SERIE</div>
                        <div class="table-header">Nº DE MOTOR</div>
                        <div class="table-header">MODELO</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                        <th:block th:each="maquina : ${maquinas}">
                            <div class="table-item"><a th:href="@{/maquinaRepuesto/} + ${maquina.idMaquina}" >[[${maquina.patente}]]</a></div>
                            <div class="table-item">[[${maquina.descripcion}]]</div>
                            <div class="table-item">
                                [[${maquina.nSerie}]]
                            </div>
                            <div class="table-item">
                                [[${maquina.nMotor}]]
                            </div>
                            <div class="table-item">[[${maquina.modelo}]]</div>
                            <div class="table-item"><a  th:href="@{/maquina/editar/} + ${maquina.idMaquina}"
                                                        class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> Editar
                                </a></div>
                            <div class="table-item"><a th:href="@{/maquina/eliminar(idMaquina=${maquina.idMaquina})}"
                                                       class="btn btn-dark">
                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                </a></div>
                        </th:block>
                    </div>
                </th:block>
                <th:block class="text-center p-2" th:if="${maquinas == null or maquinas.empty}">
                    <div class="container-table">
                        <div class="table-title">
                            <div class="col-md-11" style="display: inline-block">
                                <center>
                                    <h4>Lista de maquinas</h4>
                                </center>
                            </div>
                            <a class="btn btn-primary" th:href="@{/maquina/agregar}">Agregar</a>
                        </div>
                        <div class="table-header">PATENTE</div>
                        <div class="table-header">DESCRIPCIÓN</div>
                        <div class="table-header">Nº DE SERIE</div>
                        <div class="table-header">Nº DE MOTOR</div>
                        <div class="table-header">MODELO</div>
                        <div class="table-header"></div>
                        <div class="table-header"></div>
                    <span>la lista esta vacía</span>
                </th:block>

            </section>
        </main>
        <footer>
            <div th:replace="fragments/footer :: footer">
        </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>

</html>