<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/head :: head">
    </head>

    <body>
        <header>
            <div th:replace="fragments/header :: header"></div>
        </header>
        <main>
            <form id="form" th:action="@{/maquinaRepuesto/agregar}" th:object="${maquinaRepuesto}" method="POST" class="was-validated">
                <input type="hidden" name="idMaquinaRepuesto" th:field="*{idMaquinaRepuesto}"/>
                <div id="details" class="py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card bg-dark">
                                    <div class="card-header">
                                        <h4>Editar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <!-- aqui tenemos que poner un option con cada una de las Maquinas -->
                                            <select th:field="*{maquina}" required="true">
                                                <th:block th:if="${vehiculo}">
                                                    <option th:value="${vehiculo.idMaquina}" selected="true">[[${vehiculo.patente}]]</option>
                                                </th:block>
                                                <th:block th:unless="${vehiculo}">
                                                <th:block th:each="maquina : ${maquinas}">
                                                    <option th:value="${maquina.idMaquina}" >[[${maquina.patente}]]</option>
                                                    
                                                </th:block>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <!-- aqui tenemos que poner un option con cada una de los repuestos -->
                                            <select  th:field="*{repuesto}" required="true">
                                                <th:block th:each="repuesto : ${repuestos}">
                                                    <option th:value="${repuesto.idRepuesto}" >[[${repuesto.descripcion}]]</option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">[[#{repuestoMaquina.descripcion}]]</label>
                                            <input type="text" class="form-control" name="descripcion" 
                                                   required="true" th:field="*{descripcion}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="marca">[[#{repuestoMaquina.marca}]]</label>
                                            <input type="text" class="form-control" name="marca" 
                                                   required="true" th:field="*{marca}"/>
                                        </div>
                                        <div class="py-4" >
                                            <a id="submit"  class="col-md-3 btn btn-primary btn-block" >
                                                <i class="fas fa-plus">Agregar</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <footer>
            <div th:replace="fragments/footer :: footer">
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="/form.js"></script>
    </body>

</html>